<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebChromiumCcsipro.Resources.Settings.CCSIproChromiumSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WebChromiumCcsipro.Resources.Settings.SignatureSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebChromiumCcsipro.Resources.Settings.CCSIproChromiumSetting>
            <setting name="ObjecID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>sk-SK</value>
            </setting>
            <setting name="HomePage" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSalt" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>CCSIPro Web Chromium V1</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>CCSIPro.sk</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KioskIp" serializeAs="String">
                <value />
            </setting>
            <setting name="KioskPort" serializeAs="String">
                <value>0</value>
            </setting>
        </WebChromiumCcsipro.Resources.Settings.CCSIproChromiumSetting>
        <WebChromiumCcsipro.Resources.Settings.SignatureSetting>
            <setting name="ApiLink" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="singTimeOut" serializeAs="String">
                <value>100</value>
            </setting>
        </WebChromiumCcsipro.Resources.Settings.SignatureSetting>
    </userSettings>
</configuration>